@font-face {
  font-family: 'Rosmatika';
  src: url('./RosmatikaRegular-BWA45.ttf');
}

.bb-header {
  
}

.book-flex {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-items: baseline;
  gap: 15px;

  width: 75%;
  height: 400px;
  margin: 0 auto;
  overflow-y: scroll;
}

.details-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 350px;
}

.book-cover {
  width: 125px;
  height: 175px;
  margin: 10px 0;
}

#book-cover {
  width: 100%;
  height: 100%;
}

.book-details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  width: 125px;
  height: 150px;
}

.book-title {
  height: 75px;
  line-height: 1;
  /* text-align: center; */
}

.author {
  height: 75px;
  line-height: 1;
}

#book-title, #author {
  margin: 0;
}

#author {
  padding-top: 5px;
}

#count {
  font-family: 'Rosmatika';
  display: inline-block;
  font-size: 22px;
}

