@font-face {
  font-family: 'Backslash';
  src: url('./Backslash-RpJol.otf');
}

@font-face {
  font-family: 'Maginia';
  src: url('./MaginiaRegular-BWP6x.otf');
}

.book-bar {
  height: 75%;
  margin-top: 25px;
}

.bb-header {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

#bb-title  {
  font-family: 'Maginia';
  font-size: 50px;
  line-height: 2;
}

.book-flex {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  gap: 20px;

  width: 90%;
  height: 350px;
  margin: 0 auto;
  padding: 20px 0;
  border: solid 1px gray;
  border-radius: 15px;
  overflow-y: scroll;
}

.details-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 350px;
  font-family: '';
  font-size: 18px;
}

.book-cover {
  width: 130px;
  height: 180px;
  margin: 5px 0;
}

#book-cover {
  width: 100%;
  height: 100%;
}

.book-details {
  display: flex;
  flex-direction: column;

  width: 130px;
  height: 150px;
}

.book-title {
  height: 110px;
  line-height: 1;
}

.bb-author {
  height: 70px;
  line-height: 1;
}

#book-title, #bb-author {
  margin: 0;
  padding: 5px;
}

#bb-author {
  padding-top: 5px;
}

#count {
  display: inline-block;
  padding-bottom: 5px;

  font-family: 'Maginia';
  font-size: 24px;
  font-weight: bold;
}

.nav-bar {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}

.nav-bar nav {
  width: 100%;
  margin: 0 auto;
}

nav a, #slash {
  text-decoration: none;
  font-family: 'Maginia';
  font-size: 45px;
  line-height: 2;
  color: black;
}

#slash {
  padding: 0 5px;
}

nav a:hover {
  color: lightseagreen;
}

.user-list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  border: solid 1px gray;
  border-radius: 15px;
}

.table-flex {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-items: center;
}

.book-table {
  width: 100%;
}

thead {
  height: 50px;
}


.title, #title {
  width: 15%;
  padding: 2.5px;

  font-size: 16px;
  text-align: center;
}

#title a {
  text-decoration: none;
  color: rgb(6, 65, 226);
}

#title a:hover {
  color: rgb(6, 65, 226, 0.5);
}

.author, #author {
  width: 20%;

  text-align: center;
}

.desc, #desc {
  width: 25%;
  padding: 2.5px;
}

#desc {
  font-size: 14px;
}

.publishDate, #publishDate {
  width: 15%;
  text-align: center;
}

.edition, #edition {
  width: 5%;
  text-align: center;
}

.status, #status {
  width: 10%;
  text-align: center;
}

.status form {
  padding: 30px 10px 0 10px;
}

#select {
  width: 100px;
  height: 25px;
  margin-top: 5px;
  background-color: transparent;
  border-style:hidden;
  box-shadow: none;
  border: 1px solid black;
  text-align: center;
}

.delete {
  width: 20%;
  text-align: center;
}

#delete {
  display: block;
  width: 75%;
  margin: 0 auto;
  background-color: transparent;
  border-style:hidden;
  box-shadow: none;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
}

#delete button {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background-color: transparent;
  border-style:hidden;
  box-shadow: none;
  text-align: center;
}

#delete button:hover {
  color: rgb(6, 65, 226, 0.5);
}

.pagination {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.pagination ul {
  list-style-type: none;
  margin: 15px 0;
  padding: 0;
}

ul li {
  display: inline;
  padding: 0 5%;
}

#previous, #next {
  display: inline;
  padding: 0;
}

#previous button, #next button {
  width: 65px;
  height: 30px;
  background-color: transparent;
  border-style:hidden;
  box-shadow: none;
  border: 1px solid black;
}

#previous button {
  width: 80px;
}

.numbers {
  width: 75%;
}

.numbers button {
  width: 35px;
  height: 30px;
  margin: 0 1.5%;
  background-color: transparent;
  border-style:hidden;
  box-shadow: none;
  border: 1px solid black;
}

.numbers button:hover {
  color: rgb(6, 65, 226, 0.5);
}

#previous button:hover {
  color: rgb(6, 65, 226, 0.5);
}

#next button:hover {
  color: rgb(6, 65, 226, 0.5);
}

/* .active {
  color: white;
  background-color: lightseagreen;
  border: 1px solid white;

} */


.new-book {
  width: 75%;
  margin: 0 auto;
}

.book-form {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  border: 1px solid gray;
  border-radius: 15px;
}

.form-flex {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  min-width: max-content;
  margin: 0 auto;
  margin-top: 10px;
}

.form-flex input {
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;

}

.form-flex label {
  margin: 15px 0 0 15px;
  padding-bottom: 5px;

  font-family: '';
  font-size: 1.25em;
  line-height: 1.5;
}

#submit {
  width: 100px;
  margin: 30px auto 30px auto;
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 20px;
}
