@font-face {
  font-family: 'Backslash';
  src: url('./Backslash-RpJol.otf');
}

@font-face {
  font-family: 'Maginia';
  src: url('./MaginiaRegular-BWP6x.otf');
}

/* @font-face {
  font-family: 'Rosmatika';
  src: url('./RosmatikaRegular-BWA45.ttf');
} */


.App {
  /* height: 100vh; */
}

.main {
}

.book-bar {
  height: 75%;
  margin-top: 15px;
}

.bb-header {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

#bb-title  {
  font-family: 'Maginia';
  font-size: 50px;
  line-height: 2;
}

.book-flex {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-items: baseline;
  gap: 20px;

  width: 75%;
  height: 350px;
  margin: 0 auto;
  padding: 20px 0;
  border: solid 1px gray;
  border-radius: 15px;
  overflow-y: scroll;
}

.details-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 350px;
  font-family: '';
  font-size: 18px;
}

.book-cover {
  width: 130px;
  height: 180px;
  margin: 5px 0;
}

#book-cover {
  width: 100%;
  height: 100%;
}

.book-details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  width: 130px;
  height: 150px;
}

.book-title {
  height: 110px;
  line-height: 1;
  /* text-align: center; */
}

.author {
  height: 70px;
  line-height: 1;
}

#book-title, #author {
  margin: 0;
  padding: 5px;
}

#author {
  padding-top: 5px;
}

#count {
  display: inline-block;
  padding-bottom: 5px;

  font-family: 'Maginia';
  font-size: 24px;
  font-weight: bold;
}

.nav-bar {
  width: 75%;
  margin: 0 auto;
  margin-top: 15px;
}

.nav-bar nav {
  width: 100%;
  margin: 0 auto;
  /* margin-top: 2.5%;
  margin-bottom: 15px;
  padding-top: 30px; */

}

nav a, #slash {
  /* margin: 0 5%; */
  text-decoration: none;
  font-family: 'Maginia';
  font-size: 50px;
  line-height: 2;
  color: black;
}

#slash {
  padding: 0 5px;
}

nav a:hover {
  color: lightseagreen;
}

.pagination {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-items: center;

  width: 75%;
  margin: 0 auto;
  margin-bottom: 5%;
  border: solid 1px gray;
  border-radius: 15px;
  overflow-y: scroll;
}

.book-table {
  width: 100%;
}

thead {
  height: 50px;
}

.tr {
  height: 75px;
}

.title {
  width: 175px;
}

.title a {
  text-decoration: none;
  color: lightseagreen;
}

.author {
  width: 125px;
}

.desc {
  width: 250px;
  height: 25px;
  overflow-x: scroll;
}

.publishDate {
  width: 100px;
  text-align: center;
}

.edition, .status {
  width: 50px;
  text-align: center;
}


.new-book {
  width: 75%;
  margin: 0 auto;
}

.book-form {
  max-width: 60%;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 15px;
}

.form-flex {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  min-width: max-content;
  margin: 0 auto;
  margin-top: 10px;
}

.form-flex input {
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;

}

.form-flex label {
  margin: 15px 0 0 15px;
  padding-bottom: 5px;

  font-family: '';
  font-size: 1.25em;
  line-height: 1.5;
}

#submit {
  width: 100px;
  margin: 30px auto 30px auto;
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 20px;
}
